@import './../../styles/styles.scss';

.task {
  display: flex;
  justify-content: space-between;
  border: 1px solid $light-gray;
  border-radius: 4px;
  padding: 7px 12px;
  overflow: hidden;
  margin-bottom: 5px;
  cursor: default;
  user-select: none;
}

.star {
  width: 17px;
  height: 16px;
  display: block;
  cursor: pointer;
  fill-rule: evenodd;
}

.star-white {
  background-image: url(./../../assets/icons/icon-star-white.svg);
}

.star-black {
  background-image: url(./../../assets/icons/icon-star-black.svg);
}