<div class="task">
  {{ task.title }}
  <i 
    *ngIf="task.category === taskCategories.CLOSED"
    (click)="changeCategory()"
    class="star star-black" 
  ></i>
  <i
    *ngIf="task.category === taskCategories.OPEN"
    (click)="changeCategory()"
    class="star star-white"
  ></i>
</div>