<div class="git-application-container">
  <aside class="side-panel">
    <ul class="window-buttons">
      <li class="window-button window-button-red"></li>
      <li class="window-button window-button-yellow"></li>
      <li class="window-button window-button-green"></li>
    </ul>
    <div class="tasks-categories">
      <app-task-category
        *ngFor="let category of taskCategories"
        [taskCategory]="category"
        [isActive]="category.title === activeCategory"
        (changeTasksCategoryEmitter)="updateActiveTasks($event)"
      ></app-task-category>
    </div>
  </aside>

  <main class="tasks-list">
    <ng-container *ngFor="let date of taskDates">
      <div 
        *ngIf="(activeCategory !== 'All' && activeDates.includes(date)) ||  activeCategory === 'All'"
        class="date"
      >
        {{ date | date:'dd-MM-yy'}}
      </div>
      <ng-container *ngFor="let task of tasks">
        <app-task
          *ngIf="
            (date | date:'dd.MM.yy') === (task.date | date:'dd.MM.yy') && 
            (activeCategory === 'All' || activeCategory !== 'All' && activeCategory === task.category)"
          [task]="task"
          (changeTaskCategoryEmitter)="updateCategoriesAmounts($event)"
        ></app-task>
      </ng-container>
    </ng-container>
  </main>
</div>