@import "./styles/styles.scss";

.git-application-container {
  width: 100vw;
  font-family: 'proxima-nova', sans-serif;
  overflow: hidden;

  @include desktop {
    height: 500px;
    width: auto;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }
}

.side-panel {
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  @include desktop {
    height: 100%;
    width: 150px;
  }
}

.window-buttons {
  display: flex;
  background-color: $purple;
  padding: 15px;
}

.window-button {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  list-style: none; 
  
  &-red {
    background: $red;

    &:hover {
      background: darken($red, 20%);
    }
  }

  &-yellow {
    background: $yellow;

    &:hover {
      background: darken($yellow, 20%);
    }
  }

  &-green {
    background: $green;

    &:hover {
      background: darken($green, 20%);
    }
  }
}

.tasks-categories {
  height: 100%;
  background-color: $purple;
  opacity: 0.85;
}

.tasks-list {
  height: calc(100vh - 176px);
  background: $gray-backgroungd;
  padding: 13px 20px;
  box-sizing: border-box;
  overflow-y: auto;

  @include desktop {
    height: auto;
    width: 480px;
  }
}

.date {
  font-size: 12px;
  color: $gray;
  margin-bottom: 5px;

  &:not(:first-child) {
    margin-top: 10px;
  }
}