@import "./app/styles/styles.scss";

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  
  @include desktop {
    background: url(../src/app/assets/images/background.jpg) center/cover no-repeat;
  }
}

ul {
  margin: 0;
  padding: 0;
}