@import './../../styles/styles.scss';

.task-category {
  display: flex;
  justify-content: space-between;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;

  &:hover {
    background-color: $light-purple;
  }
}

.task-category-active{
  background-color: darken($light-purple, 10%);
}

.task-title {
  padding-left: 10px;
  width: 70px;
}

.tasks-amount {
  color: $dark-gray;
}
