<div 
  (click)="setCategory()"
  [class.task-category-active]="isActive"
  class="task-category"
>
  <div>
    <img src="{{ taskCategory.imageUrl }}">
    <span class="task-title">
      {{ taskCategory.title }}
    </span>
  </div>
  <div class="tasks-amount">
    {{ taskCategory.amount }}
  </div>
</div>
